In [1]:
import streamlit as st
import numpy as np
import pandas as pd

In [8]:
df = pd.DataFrame(
    np.random.rand(100, 2)/[50, 50] + [35.69, 139.70],
    columns=['lat','lon']
)
df

          lat         lon
0   35.697628  139.710354
1   35.691273  139.718558
2   35.696094  139.706371
3   35.694126  139.705891
4   35.708693  139.701108
..        ...         ...
95  35.701453  139.708382
96  35.703307  139.703528
97  35.704293  139.717584
98  35.705371  139.700647
99  35.706307  139.712259

[100 rows x 2 columns]